namespace: {{ namespace }}
name: {{ name }}
version: {{ version }}
readme: {{ readme }}
description: {{ description }}
repository: {{ repository }}
homepage: {{ homepage }}
issues: {{ issues }}
license:
{%- for value in license %}
  - {{ value }}
{%- endfor %}
authors:
{%- for value in authors %}
  - {{ value }}
{%- endfor %}
tags:
{%- for value in tags %}
  - {{ value }}
{%- endfor %}
dependencies: {{ dependencies }}
