namespace: zeqk
name: databasus
version: 1.0.0
readme: README.md
description: Ansible collection to manage Databasus resources via REST API.
license:
  - MIT
authors:
  - zeqk
tags:
  - database
  - api
  - crud
dependencies: {}
